<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (uzivatel) { %>
        <form class="add-user-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">Meno</label>
                    <input type="text" class="form-control" name="first_name" id="first-name" value="<%= uzivatel.first_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Priezvisko</label>
                    <input type="text" class="form-control" name="last_name" id="last-name" value="<%= uzivatel.last_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="username">Prezívka</label>
                    <input type="text" class="form-control" name="username" id="username" value="<%= uzivatel.user_name %>" required disabled title="Username cannot be edited.">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="number">Číslo</label>
                    <input type="number" class="form-control" name="number" id="number" placeholder="Number" value="<%= uzivatel.number %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="position">Rola</label>
                    <select id="position" name="position" class="form-control" required>
                        <option selected><%= uzivatel.position %></option>
                        <option>Admin</option>
                        <option>Prispievateľ</option>
                        <option>SEO</option>
                        <option>Editor</option>
                        <option>Autor</option>
                        <option>Manažér</option>
                        <option>Odberateľ</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Aktualizovať údaje</button>
        </form>
    <% } else { %>
        <p class="text-center">Žiadny užívateľ nenájdený. Prejdi <a href="/pridat">Tu</a> a pridaj užívateľa.</p>
    <% } %>
</div>
</div>
<% include partials/footer.ejs %>
